@model Mail.Models.MailModel
@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Welcome @User.Identity.Name</h1>
        <br />
        <div id='error'></div>
        <form id='send' method='POST'>
            <div>
                <div class="form-group">
                    <label for="Target">Введите email получателя</label>
                    <input type="text" name="Target" />
                </div>
                <div class="form-group">
                    <label for="Text">Введите текст</label>
                    <input type="text" name="Text" />
                </div>
                <div class="form-group">
                    <input type="submit" value="Отправить" class="btn btn-outline-dark" />
                </div>
            </div>
        </form>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            
            $('#send').submit(function () {
                $.ajax({
                    type: 'POST',
                    url: '/Home/Send',
                    data: $(this).serialize(),
                    success: function (result) {
                        var resp = JSON.parse(result)
                        $('#error').html(resp);
                    }
                });
                return false;
            });

        });
    </script>
</body>
